.button {
  font-family: 'Courier New', monospace;
  width: auto;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  margin: 0px 5px;
  padding: 0px 10px;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #555; /* slightly lighter background on hover */
}

.hackerbox {
  font-family: 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: auto;
  width: 600px;
  padding-inline: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  outline: 2px dashed rgba(0, 255, 30, 0.2);
  border: none;
  resize: none;
  box-sizing: border-box;
}

.hackerbox:focus {
  outline: 2px dashed rgba(0, 255, 30, 0.4);
}

.sidebar {
position: fixed;
background-color: rgb(25, 25, 25);
width: 15em;
height: 100vh;
box-shadow: 3px 0 6px #0000004d;
transition: width 0.5s;
}

#sidebar.open {
  width: 10em;
}

.navbar {
  font-size: 1.25em;
  font-family: sans-serif;
  color: grey;
  text-decoration: none;
  cursor: pointer;
  justify-content: space-between;
}

.navbar:hover {
  color: white;
  font-weight: bold;
}

.navbar:not(:last-child)::after {
  content: "|";
  color: white;
  padding: 0 1vw;
}
.navbar:hover:not(:last-child)::after {
  font-weight: normal;
}