:root {
  --primary-color: #333;
  --secondary-color: #555;
}

.backround {
  background-image: url(https://i.ibb.co/9vT2fz0/image-2024-02-20-115403616.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: black;
  margin: 0; padding: 0;
  overflow-x: hidden;
  height: 100vh;
}

.button {
  font-family: 'Courier New', monospace;
  width: auto;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  margin: 0px 5px;
  padding: 0px 10px;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #555; /* slightly lighter background on hover */
}

.hackerbox {
  font-family: 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: auto;
  width: 600px;
  padding-inline: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  outline: 2px dashed rgba(0, 255, 30, 0.2);
  border: none;
  resize: none;
  box-sizing: border-box;
}

.hackerbox:focus {
  outline: 2px dashed rgba(0, 255, 30, 0.4);
}

.navbar a, .navbar{
  font-family: sans-serif;
  color: grey;
  text-decoration: none;

}

.navbar a:hover, .navbar{
  color: white;
  font-weight: bold;
}

.navbar:not(:last-child)::after{
  content: "|";
  color: white;
  font-weight: normal;
  font-size: 17px;
  margin: 3vw;
}


.header {
  position: absolute;
  width: 30vw;
  padding: 0;
  top: 50%;
  left: 0;
}

@keyframes underlineAnimation {
  0% {
    width: 0%;
  }
  40% {
    width: 100%;
    right: auto;
    left: 0;
  }
  60% {
    width: 100%;
    right: 0;
    left: auto;
  }
  100% {
    width: 0%;
    right: 0;
    left: auto;
  }
}

.un {
  display: inline-block;
  position: relative;
}

.un:after {
  content: '';
  width: 0px;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  animation: underlineAnimation 750ms;
  animation-delay: 500ms;
}